name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: raj
          POSTGRES_DB: wallet_service
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U raj -d wallet_service"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
      - name: Install
        run: uv sync --extra dev
      - name: Tests
        env:
          TEST_DATABASE_URL: postgresql://raj@localhost:5432/wallet_service
        run: uv run pytest
